.about__left {
    font-family: 'Poppins', sans-serif;
}

.about__left h1 {
    font-size: 4rem;
    font-weight: 600;
}

.about__left .btn-wrapper .say-btn {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #9d00ff;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.about__left .btn-wrapper .say-btn:hover {
    background-color: #9d00ff;
    color: #ffffff;
}

.about__right img {
    width: 536px;
    height: 636px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .about__left h1 {
        font-size: 2rem;
        text-align: center;
    }

    .about__left p {
        max-width: 900px;
        font-size: 15px;
        text-align: center;
    }

    .about__right img {
        max-width: 250px;
        height: 300px;
    }

    .btn-wrapper {
        text-align: center;
    }
    
    /* ===== Expericen side =====*/

    .exp__side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .about__right img {
        max-width: 400px;
        height: 450px;
    }
}
