/* ===== Navbar Style =====*/

.navbar-nav .nav-item .nav-link {
    color: #333333 !important;
    transition: 0.4s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    opacity: 0.3 !important;
}

.navbar-nav .nav-item .custom-outline-btn {
    border: 1px solid #9D00FF;
    border-radius: 5px;
    padding: 7px 14px;
    background-color: transparent;
    transition: all 0.3s ease;


&:hover {
    background-color: #9D00FF;
    color: #ffffff;
}
}